<h1>Movie Ratings <button type="button" class="btn btn-light btn-outline-dark" (click)="toggleEdit()">Edit</button></h1>


<div class="row margin-t-10">
  <div class="col">
    <select [(ngModel)]="movieRating.playerId" class="form-select">
      <option *ngFor="let p of players" [ngValue]="p.id">{{p.firstName}}</option>
    </select>
  </div>
  <div class="col">
    <select [(ngModel)]="movieRating.movieSubmissionId" class="form-select">
      <option *ngFor="let m of movieSubmissions" [ngValue]="m.id">{{m.title}}</option>
    </select>
  </div>
  <div class="col">
    <input type="text" placeholder="Movie" class="form-control" [(ngModel)]="movieRating.rating" />
  </div>
  <div class="col">
    <input type="text" placeholder="Movie" class="form-control" [(ngModel)]="movieRating.reasonForVote" />
  </div>
  <div class="col">
    <input type="text" placeholder="Movie" class="form-control" [(ngModel)]="movieRating.pickEm" />
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary" (click)="add()">Add New</button>
  </div>
</div>



<div>
  <table class="table table-bordered table-hover table-striped table-sm">
    <thead>
      <tr>
        <th>Player</th>
        <th>Movie</th>
        <th>Rating</th>
        <th>Reason</th>
        <th>PickEm</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mr of movieRatings | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td>
          {{mr.player?.firstName}}

        </td>
        <td>{{mr.movieSubmissionId}}</td>
        <td>
          <input type="text" [(ngModel)]="mr.rating" [ngClass]="!isEdit ? 'visually-hidden' : ''" class="form-control" />
          <span [ngClass]="isEdit ? 'visually-hidden' : ''">{{mr.rating}}</span>
        </td>
        <td>
          <input type="text" [(ngModel)]="mr.reasonForVote" [ngClass]="!isEdit ? 'visually-hidden' : ''" class="form-control" />
          <span [ngClass]="isEdit ? 'visually-hidden' : ''">{{mr.reasonForVote}}</span>
        </td>
        <td>
          <input type="text" [(ngModel)]="mr.pickEm" [ngClass]="!isEdit ? 'visually-hidden' : ''" class="form-control" />
          <span [ngClass]="isEdit ? 'visually-hidden' : ''">{{mr.pickEm}}</span>
        </td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary btn-sm" title="save" (click)="save(mr)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2-fill" viewBox="0 0 16 16">
                <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2v-6z" />
              </svg>
            </button>
            &nbsp;
            <button type="button" class="btn btn-danger btn-sm" title="delete" (click)="delete(mr)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
              </svg>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="movieRatings.length" [maxSize]="maxNavNumbers()" [directionLinks]="true" [rotate]="true"></ngb-pagination>

</div>

<router-outlet></router-outlet>
